body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-wrapper {
  padding-top: 173px;
}

//---
//Header
//---
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 50px;
  height: 173px;
  background-color: cadetblue;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.content-title {
  padding-left: 208px;
  text-align: center;
}

.logo {
  font-size: 30px;
  line-height: 39px;
  padding-left: 50px;
  padding-top: 50px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 155px;
  padding-right: 50px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

//---
//Footer
//---
footer {
  display: flex;
  justify-content: center;
  padding: 35px;
}

footer p {
  margin: 0;
  color: #000;
  font-size: 18px;
}

//---
//CARDS
//---
.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  gap: 15px;
}

.card-image {
  height: 356px;
}

.horizontal {
  width: 509px;
}

.vertical {
  width: 246px;
}

.card-wrapper {
  max-width: 509px;
  max-height: 356px;
  position: relative;
}

.white-card-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
}

.card-text {
  padding-top: 9px;
  padding-left: 10px;
}

.white-card-wrapper {
  visibility: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.card-wrapper:hover .white-card-wrapper {
  visibility: visible;
  opacity: 1;
}
//---
//Education & contacts
//---

$line-width: 1px;
$line-color: #000;
$line-heights: (
  line_1: 171px,
  line_2: 193px,
  line_3: 67px,
  line_4: 161px,
  line_5: 305px,
  line_6: 213px,
  line_7: 292px,
  line_8: 286px,
);

@each $line, $height in $line-heights {
  .#{$line} {
    height: $height;
    width: $line-width;
    background-color: $line-color;
  }
}

.flex-column-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.education-text {
  text-align: center;
}

.education-text_18 {
  font-size: 18px;
}
.education-text_30 {
  font-size: 30px;
}

.education-text a {
  color: #000;
  text-decoration: none;
}

.contacts-text {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
}

.contacts-text a {
  color: #000;
  text-decoration: none;
}
